* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    text-align: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

img {
    display: block;
    width: 480px;
    height: 480px;
    margin: 2rem auto;
}

.app {
    padding: 2rem;
}

.container {
    background-color: #1c1e22;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 2rem auto;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

input {
    appearance: none;
    outline: none;
    border: 2px solid #72A0C1;
    background: white;
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 1rem;
    font-weight: bold;
	box-shadow: rgba(114, 160, 193, 0.3) 0px 19px 38px, rgba(114, 160, 193, 0.22) 0px 15px 12px;;
   
}

button, a {
    appearance: none;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid rgb(114, 160, 193);
    border-radius: 20px;
    margin-top: 1rem;
    display: inline-block;
	box-shadow: rgba(114, 160, 193, 0.5) 0px 10px 20px, rgba(114, 160, 193, 0.5) 0px 6px 6px;
}

button:hover, a:hover {
    background-color: #72A0C1;
    color: white;
}
